@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
    ViewData["Title"] = "Transacciones a prestamos";
    Layout = "_LayoutClient";
}


<h1 class="text-bg-danger text-center">Aqui estara el formulario para que se puedan realizar las transacciones a prestamos</h1>