@model CreateTransactionCashAvancesViewModel

@{
    ViewData["Title"] = "CASH AVANCES";
    Layout = "_LayoutClient";
}



<link rel="stylesheet" href="~/css/CashAvances.css" />

<div class="container mt-4">
    <div class="text-center mb-5">
        <h2 class="fw-bold page-title">
            <i class="bi bi-lightning-charge-fill me-2"></i> CASH AVANCES
        </h2>
        <p class="text-muted">Realiza un Cash avance de forma rápida y segura.</p>
    </div>

    <div class="card card-transaction">
        <form asp-area="Client" asp-controller="CashAdvances" asp-action="Create" method="post">

            <div asp-validation-summary="All" class="text-danger text-center mb-3"></div>

            <div class="row g-4">

                <div class="col-md-12">
                    <label asp-for="CreditCard" class="form-label">Tarjeta de Crédito Origen</label>
                    <select asp-for="CreditCard" class="form-select">
                        <option value="">-- Selecciona una tarjeta --</option>
                        @foreach (var cuenta in ViewBag.CreditCard)
                        {
                            <option value="@cuenta">@cuenta</option>
                        }
                    </select>
                </div>

                <div class="col-md-12">
                    <label asp-for="Account" class="form-label">Cuenta de Ahorro Destino</label>
                    <select asp-for="Account" class="form-select">
                        <option value="">-- Selecciona una cuenta --</option>
                        @foreach (var cuenta in ViewBag.CuentasAhorros)
                        {
                            <option value="@cuenta">@cuenta</option>
                        }
                    </select>
                </div>

                <div class="col-md-12">
                    <label asp-for="Amount" class="form-label">Monto</label>
                    <input asp-for="Amount" type="number" step="0.01" class="form-control" placeholder="0.00">
                </div>
            </div>

            <div class="d-flex justify-content-end mt-4">
                <a asp-area="Client" asp-controller="Home" asp-action="Index" class="btn btn-outline-secondary btn-cancel me-2">
                    <i class="bi bi-arrow-left-circle me-1"></i> Cancelar
                </a>

                <button type="submit" class="btn btn-accept">
                    <i class="bi bi-check-circle me-1"></i> Aceptar
                </button>
            </div>

        </form>
    </div>
</div>
